.alert-success {
    border-style: solid;
    border-width: 1px;
    display: none;
    width: 100%;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem;
    font-size: 0.8125rem;
    text-align: center;
    background-color: #43ac6a;
    border-color: #3a945b;
    color: white;
  }
  
  
  .alert-error {
    border-style: solid;
    border-width: 1px;
    display: none;
    width: 100%;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem;
    font-size: 0.8125rem;
    text-align: center;
    background-color: #ff4d4d;
    border-color: #ff0000;
    color: white;
  }
  